parameters:
  hal.github.auth.service.class: Hal\GithubBundle\Service\AuthService
  hal.github.owner.service.class: Hal\GithubBundle\Service\OwnerService
  hal.github.owner.repository.class: Hal\GithubBundle\Repository\OwnerRepository
  hal.github.repository.repository.class: Hal\GithubBundle\Repository\RepositoryRepository
  hal.github.github.repository.class: Hal\GithubBundle\Repository\GithubRepository
  hal.github.repository.service.class: Hal\GithubBundle\Service\RepositoryService
  hal.github.security.user.provider.class: Hal\GithubBundle\Security\User\UserProvider


services:
    hal.github.auth.service:
        class: %hal.github.auth.service.class%
        arguments:
          - @service_container
          - @hal.github.owner.repository
          - @hal.github.owner.service
          - %github_app_id%
          - %github_app_secret%
          - %github_redirect_url%

    hal.github.owner.service:
      class: %hal.github.owner.service.class%
      arguments:
        - @hal.github.owner.repository
        - @hal.github.repository.repository
        - @hal.github.github.repository
        - @security.acl.provider

    hal.github.owner.repository:
      class: %hal.github.owner.repository.class%
      arguments:
        - @doctrine.orm.entity_manager

    hal.github.repository.repository:
          class: %hal.github.repository.repository.class%
          arguments:
            - @doctrine.orm.entity_manager

    hal.github.github.repository:
          class: %hal.github.github.repository.class%

    hal.github.repository.service:
              class: %hal.github.repository.service.class%
              arguments:
                - @hal.github.repository.repository


    hal.github.security.user.provider:
        class: %hal.github.security.user.provider.class%
        arguments:
          - @hal.github.owner.service