{% extends "::base.html.twig" %}

{% block body %}

    <p>Hello {{ user.login }}. We found <strong>{{ repositories | length }}</strong> public repositories :</p>



    <table class="table table-stripped">
        <thead>
        <tr>
            <th>Repository</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for repository in repositories %}
            <tr>
                <td><a href="{{ repository.url }}">{{ repository.name }}</a></td>
                <td>une action</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </div>
{% endblock %}