{% extends "HalReleaseWebBundle::base.html.twig" %}

{% block body %}

    <div class="row">
        <div class="span8">Explications</div>

        <div class="span4">

            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">Informations</li>
                    <li><i class="icon icon-user"></i>Developers: 500</li>
                    <li><i class="icon icon-book"></i>Repositories: 500</li>
                    <li><i class="icon icon-leaf"></i>Branches: 500</li>

                    <li class="nav-header">Statistics</li>
                    <li><i class="icon icon-ok-sign"></i>Using of latest packages : 500</li>
                    <li><i class="icon icon-warning-sign"></i>Using of recent packages : 500</li>
                    <li><i class="icon icon-exclamation-sign"></i>Using of outdated packages : 500</li>
                </ul>
            </div>

            <div class="well">
                <button class="btn btn-info"><i class="icon icon-user icon-white"></i> Login with Github</button>
            </div>


            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">Recent repositories</li>
                    {% for repository in repositories %}
                        <li>
                            <a href="{{ path('repository.list.by.owner', {login: repository.owner.login}) }}"
                                    >{{ repository.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>






{% endblock %}