Hal\ReleaseBundle\Entity\Owner:
  type: entity
  id:
    id:
      type: integer
      generator: { strategy: auto }
  fields:
    name:
      type: string
    email:
      type: string
  oneToMany:
    package:
      targetEntity: Package
      mappedBy: packages
  inheritance:
      type: simple
      extends: Hal\GithubBundle\Entity\Authentifiable