<div>
    Available statuses :
    <ul class="unstyled">
        <li><span class="label label-state-latest">{{ "latest" | trans }}</span></li>
        <li><span class="label label-state-recent">{{ "recent" | trans }}</li>
        <li><span class="label label-state-outofdate">{{ "outofdate" | trans }}</span></li>
        <li><span class="label">{{ "unknown" | trans }}</li>
    </ul>
</div>