# un paquet simple, pas relié à un dépôt ou quoi que ce soit. Juste le nom d'un paquet et sa version actuelle
Hal\Bundle\ReleaseBundle\Entity\Package:
  type: entity
  id:
    id:
      type: integer
      generator: { strategy: auto }
  fields:
    name:
      type: string
    currentVersion:
      type: version
      nullable: true
    releaseDate:
      type: datetime
      nullable: true
    url:
      type: string
      nullable: true
    author:
      type: string
      nullable: true
    lastUpdate:
      type: datetime
  oneToMany:
      requiredBy:
        targetEntity: Requirement
        mappedBy: Package
        cascade: ["persist", "merge","remove"]
  lifecycleCallbacks:
      prePersist: [ updateDate ]
      preUpdate:  [ updateDate ]
