@import "bootstrap/bootstrap/bootstrap";


.label-state-latest {
  background-color: @successText;
}
.label-state-recent {
  background-color: @orange;
}
.label-state-outofdate {
  background-color: @errorText;
}

.img-owner {
  width:90px;
  height:90px;
}